.post__cont {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 2rem;
  font-family: "Poppins";
}

.loader {
  width: 4rem;
  height: 4rem;
  border: 5px solid var(--onyx);
  border-bottom-color: #d4a373;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  position: absolute;
  top: 30%;
  align-self: center;
}

.book__details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.book__details ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 20px;
  font-size: 1.6rem;
}

.cover {
  width: 80%;
  max-width: 400px;
  border-radius: 5px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.title {
  font-weight: 700;
  font-size: 2.4rem;
}

.author {
  margin-top: -3px;
  font-weight: 300;
  font-size: 2rem;
}

.book__details ul hr,
.comments__cont hr {
  height: 1px;
  background-color: var(--onyx);
  border: none;
  margin-top: 5px;
}

.bold {
  font-weight: 500;
  margin-right: 5px;
}

.icon {
  cursor: pointer;
  transition: 0.2s all ease;
}

.icon:hover {
  transform: scale(1.1);
}

.thoughts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 90%;
  font-size: 1.6rem;
  line-height: 25px;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  max-width: 1500px;
  transition: max-height 0.5s ease-in-out, opacity 0.3s ease-in-out,
    padding 0.3s ease-in-out;
}

.thoughts.open {
  max-height: 1000px;
  opacity: 1;
  padding-top: 10px;
}

.subtitle {
  font-weight: 700;
  font-size: 1.6rem;
}

.comments__cont {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.comments__cont hr {
  width: 40%;
  max-width: 400px;
  margin-bottom: 20px;
}

.link {
  color: var(--green);
  font-weight: 500;
  margin-right: 5px;
  transition: 0.2s all ease;
}

.link:hover {
  font-size: 1.4rem;
}

.noUser {
  font-size: 1.2rem;
  margin-top: 10px;
}

.createComment {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  margin-top: 20px;
  border-radius: 10px;
}

.createComment textarea {
  height: 100px;
  padding: 10px;
  border-radius: 5px;
  background-color: #d4a37363;
}

.button {
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: 1px solid var(--onyx);
  border-radius: 4px;
  color: var(--onyx);
  font-weight: 500;
  font-family: "Poppins";
  margin: 20px 0 20px 0;
  cursor: pointer;
  transition: 0.2s all ease;
  font-size: 1.6rem;
}

.button:hover,
.button:focus {
  background-color: var(--onyx);
  color: var(--beige);
  font-weight: 700;
  transform: scale(1.1);
  border: 3px solid var(--olive);
  outline: none;
}
.button:active {
  transform: scale(0.9);
  opacity: 0.9;
}

.emptyComments {
  font-size: 1.2rem;
  font-weight: 300;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
