.login__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  height: 100%;
  justify-content: center;
  flex-grow: 1;
  position: relative;
}

.field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  gap: 5px;
  font-family: "Poppins";
}

.label {
  font-weight: 600;
  font-size: 1.6rem;
}

.input {
  border: 1px solid var(--onyx);
  border-radius: 4px;
  width: 70%;
  padding: 1px 4px;
  caret-color: var(--onyx);
  color: var(--onyx);
  font-size: 1.6rem;
}

.input:focus {
  outline: 2px solid var(--olive);
}

.button {
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: 1px solid var(--onyx);
  border-radius: 4px;
  color: var(--onyx);
  font-weight: 500;
  font-family: "Poppins";
  margin-top: 5px;
  cursor: pointer;
  transition: 0.2s all ease;
  font-size: 1.6rem;
}

.button:hover,
.button:focus {
  background-color: var(--onyx);
  color: var(--beige);
  border: none;
  font-weight: 700;
  transform: scale(1.1);
  outline: 3px solid var(--olive);
}
.button:active {
  transform: scale(0.9);
  opacity: 0.9;
}

.error {
  color: var(--red);
  font-weight: 700;
  position: absolute;
  top: 35%;
  font-size: 1.6rem;
  text-shadow: 0px 2px 4px rgba(64, 63, 76, 0.3);
}

.loader {
  width: 4rem;
  height: 4rem;
  border: 5px solid var(--onyx);
  border-bottom-color: #d4a373;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  position: absolute;
  top: 30%;
  align-self: center;
}

.welcome {
  font-size: 1.8rem;
  text-align: center;
  margin-top: 20px;
  font-family: "Poppins";
}

.posts__cont {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 60px;
  align-items: center;
  justify-items: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.legend__cont {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 30px;
  gap: 5px;
}

.legend__field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.legend__square {
  width: 10px;
  height: 10px;
  background-color: var(--green);
  border-radius: 2px;
}

.red {
  background-color: var(--red);
}

.legend__text {
  font-family: "Poppins";
  font-weight: 500;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 768px) {
  .welcome {
    font-size: 2rem;
  }

  .posts__cont {
    grid-template-columns: 1fr 1fr;
  }

  .legend__cont {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 1440px) {
  .welcome {
    font-size: 2rem;
  }

  .posts__cont {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .legend__cont {
    font-size: 1.6rem;
  }
}
