.book__cont {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  position: relative;
  flex: 1;
}

.title {
  font-size: 2.4rem;
  margin-bottom: 5px;
  font-family: "Noto Serif";
  text-decoration: underline;
}

.author {
  margin-bottom: 2rem;
  font-family: "Noto Serif";
  font-size: 1.8rem;
}

.cover {
  width: 50%;
  max-width: 400px;
  border-radius: 4px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.update__form {
  display: flex;
  flex-direction: column;
  font-family: "Poppins";
  font-size: 1.6rem;
  margin-top: 20px;
}

.bold {
  font-weight: 600;
  margin-right: 5px;
}

.update__input {
  background-color: transparent;
  border: none;
  width: fit-content;
}

.button {
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: 1px solid var(--onyx);
  border-radius: 4px;
  color: var(--onyx);
  font-weight: 500;
  font-family: "Poppins";
  margin-top: 15px;
  cursor: pointer;
  transition: 0.2s all ease;
  font-size: 1.6rem;
  align-self: center;
}

.button:hover,
.button:focus {
  background-color: var(--onyx);
  color: var(--beige);
  border: none;
  font-weight: 700;
  transform: scale(1.1);
  outline: 3px solid var(--olive);
}
.button:active {
  transform: scale(0.9);
  opacity: 0.9;
}

.loader {
  width: 4rem;
  height: 4rem;
  border: 5px solid var(--onyx);
  border-bottom-color: #d4a373;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  position: absolute;
  top: 30%;
  align-self: center;
}

.trashIcon {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 2rem;
  cursor: pointer;
  transition: 0.2s all ease;
}

.trashIcon:hover {
  color: var(--red);
  transform: scale(1.1);
}

.trashIcon:active {
  opacity: 0.7;
  transform: scale(0.9);
}

.closeIcon {
  font-size: 2.4rem;
  color: var(--onyx);
  cursor: pointer;
  top: 0.5rem;
  right: 1rem;
  position: absolute;
  transition: 0.2s all ease;
}

.closeIcon:hover {
  color: var(--red);
  transform: scale(1.3) rotate(90deg);
}

.delete__cont__overlay {
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.delete__cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  background-color: var(--beige);
  font-size: 1.6rem;
  font-family: "Poppins";
  border-radius: 8px;
  font-weight: 600;
  position: relative;
  margin: 2rem;
}

.delete__cont div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
}

.delete__cont p {
  text-align: center;
  font-size: 2rem;
}

.delete__cont div button {
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: 1px solid var(--onyx);
  border-radius: 4px;
  color: var(--onyx);
  font-weight: 500;
  font-family: "Poppins";
  margin-top: 15px;
  cursor: pointer;
  transition: 0.2s all ease;
}

.delete__cont div button:last-of-type {
  background-color: var(--red);
  font-weight: 700;
}

.delete__cont div button:hover {
  background-color: var(--onyx);
  color: var(--beige);
  transform: scale(1.1);
}

.delete__cont div button:last-of-type:hover {
  background-color: #f63a21;
  color: var(--onyx);
}

.textarea__label {
  margin: 10px;
  border-bottom: 1px solid var(--onyx);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
