.account__cont {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  font-family: "Poppins";
  font-weight: 500;
}

.link {
  color: var(--green);
  font-weight: 700;
  margin-right: 5px;
  transition: 0.2s all ease;
}

.link:hover {
  font-size: 1.9rem;
}

.noUser {
  font-size: 1.8rem;
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.img {
  width: 80%;
  max-width: 600px;
  margin-bottom: 3rem;
  border-radius: 40%;
}
